:root{
    --orange: #ff8455;
    --darkBlue: #1c2e3a;
    --lightBlue:  #c0d6e8;
    --aqua: #31526699 ;
    --iconColorLight : #8093a2;
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
/* #1859ff */
/* rgba(0, 255, 255, 0.568) */
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    }
a{
    text-decoration: none;
    color: var(--darkBlue);
}
ul{
    list-style-type: none;  
}
body{
    font-family: Montserrat;
    font-weight: 400;
    overflow-x: hidden;
    position: relative;
}
h1{
    text-align: center;
}

h2{
    margin-top: 0;
    color: var(--darkBlue);
    font-size: 35px;
}
p{
    font-weight: 300;
    line-height: 1.5;
}

header{
    display: flex;
    align-items: center;
    position: relative;
    height: 90px;
}
.logo-container img{
    margin-left: 70px;
    width: 150px;
    position: absolute;
    top: 20px;
    z-index: 99;
}
@media screen and (max-width: 670px) {
    .logo-container img{
        width: 120px;
        margin-left: 20px;
    } 
}
.desktop-nav{
    margin-right: 120px;
    margin-left: auto;
    overflow: hidden;
}

nav ul{
    display: flex;
}
header nav li{
    padding: 20px;
    position: relative;
}
nav a{
    text-decoration: none;
    font-family: Montserrat;
    font-weight: 300;
    color: var(--darkBlue);
    /* transition: border-bottom .5s ease; */
}

.nav-underline{
    width: 100%;
    height: 12px;
    position: absolute;
    bottom: -30px;
    left: 0;
    background-color: var(--darkBlue);
    transition: transform .5s ease;
}

nav li:hover .nav-underline{
    transform: translateY(-13px);  
}

.hamburguer-nav{
    display: none;   
}
.hamburguer-icon{
    font-size: 40px;
    color: var(--darkBlue);
    transition: transform .5s ease;
}
.hamburguer-icon:hover{
    transform: scale(1.1);
}

.language-selector{
    margin-right: 35px;
    position: relative;
}

.language-selector ul{
    position: absolute;
    top: -20px;
    left: -70px;
    z-index: 9;
    margin: 0;
    border: 2px solid #ffcebb;
    border-radius: 3px;
    padding: 0;
    height: 42px;
    transition: height .5s ease;
    overflow: hidden;
}
.language-selector:hover ul{
    display: block;
}
.language-selector li{
    background-color: white;
    padding: 10px;
    width: 65px;
    height: 39px;
    font-weight: 300;
}
.language-selector img{
    margin-left: 3px;
    transform: translateY(2px);
    transition: transform .5s ease;
}
li.hidden{
    display: none;
}
.language-selector ul:hover{
    height: 120px;
}
.language-selector ul:hover .hidden{
    display: block;
}
.language-selector:hover img{
    transform: rotate(180deg);
}
@media screen and (max-width: 1200px) {
    .desktop-nav{
        display: none;
    }
    .hamburguer-nav{
        display: block;
        margin-right: 20px;
        position: absolute;
        top: 25px;
        right: 10px;
        overflow: visible;
        z-index: 999;
    }
    .hamburguer-nav:hover ul{
        display: block;
        right: -30px;
        top: -30px;
        transition: right 1s ease;
    }
    .hamburguer-nav ul{
        flex-direction: column;
        align-items: center;
        background-color: white;
        position: absolute;
        right: -800px;
        top: -30px;
        padding: 100px 0px;
        min-width: 50vw;
        max-width: 500px;
        /* display: none; */
    }
    .hamburguer-nav li{
        text-align: center;
        transition: transform .5s ease;
    }
    .hamburguer-nav li:hover{
        transform: scale(1.1);
    }
    .hamburguer-nav .bi-x-lg{
        position: absolute;
        top: 30px;
        left: 30px;
        font-size: 30px;
        color: var(--darkBlue);
    }
    .language-selector {
        position: absolute;
        top: 45px;
        right: 120px;
    }
    .language-selector ul{
        left: 0;
    }
}

/************HERO*******************/
.hero-container{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    background-color: var(--darkBlue);
}
#icono-hero{
    width: 380px;
    position: absolute;
    top: 15%;
    left: 12%;
    opacity: 0;
    z-index: 1;
    animation: animacionIconoHero 2s ease;
    animation-fill-mode: forwards;
    /* transform: scaleX(-1); */
}
@keyframes animacionIconoHero{
    from{opacity: 0;width: 380px;}
    to{opacity: 1; width: 400px;}
}

@media screen and (max-width: 1200px){
    @keyframes animacionIconoHero{
        from{opacity: 0;width: 300px;}
        to{opacity: 1; width: 350px;}
    }
    
}
@media screen and (max-width:900px) {
    #icono-hero{
        display: none;
    }
}
.bars-wrapper{
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    overflow: hidden;
    margin-left: auto;
}
.bar{
    width: .5px;
    border-radius: 5px;
    background-color: var(--lightBlue); 
    opacity: 1;
}
@media screen and (max-width:900px) {
    .bars-wrapper{
        width: 180%;
        margin-left: -170px;
    }
    
}
.hero-text-container{
    height: 100%;
    width:50%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 75px;
    padding-left: 0;
    display: flex;
    align-items: center;
    margin: auto;
}
.hero-text-wrapper{
    margin-top: -20px;
}
.hero-text-wrapper p{
    width: 500px;
    font-family: Montserrat;
    font-size: 23px;
    font-weight: 800;
    line-height: 1.5;
    margin:0;
    margin-left: -60px;
    color: white;
    opacity: 0;
    animation: textAnimation 2s ease;
    animation-fill-mode: forwards;
    animation-delay: .5s;
}
.hero-text-wrapper p:nth-child(4){
    color: var(--orange);
    font-weight: 800;
    margin-left: 0px;
    width: 400px;
}
@keyframes textAnimation {
    from{opacity: 0; margin-left: -60px;}
    to{opacity:1; margin-left: 0;}
}
.underline{
    height: 10px;
    width: 0%;
    background-color: var(--orange) ;
    margin-top: 10px;
    margin-left: -60px;
    animation: underlineAnimation 2s ease;
    animation-delay: .5s;
    animation-fill-mode: forwards;
}
@keyframes underlineAnimation{
    from{margin-left: -60px; width: 0%;}
    to{margin-left: 0; width: 100%;}
}
@media screen and (max-width:900px) {
    .hero-text-container{
        width: 100%;
        padding-left: 75px;
        display: flex;
        justify-content: center;
    }
    .hero-text-container p,
    .hero-text-wrapper p:nth-child(4){
        width: 80vw;   
    }
    .hero-text-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


/***********MAIN***********/
main{
    position: relative;
}

.home-page section{
    display: flex;
    justify-content: space-between;
    max-height: 60vh;
    overflow: hidden;
}
.home-page .section-text{
    padding: 75px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about-us-img{
    background: url(../img/cubeta.jpg);
}
.investment-img{
    background: url(../img/hornos.jpg);
}
.management-img{
    background-image: url(../img/produccion-secos.jpg);
}
.home-page .section-img{
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 50%;
}
section.investment-focus .section-text{
    order: 1;
}

@media screen and (max-width: 900px) {
    .home-page section{
        flex-direction: column;
        max-height: unset;
    }
    .home-page .section-text{
        width: 100%;
        padding: 50px;
    }
    .home-page .section-img{
        width: 100%;
        height: 300px;
    }
    section.investment-focus .section-text{
        order: 0;
    }
    
}
div.transparencia{
    height: 100%;
    width: 100%;
    background-color: var(--darkBlue);
    opacity: .4;
    position: absolute;
    top: 0;
    right: 0;
}

a.button{
    margin-right: auto;
    margin-top: 20px;
    padding: 20px 30px;
    color: var(--darkBlue);
    border: 3px solid var(--darkBlue);
    border-radius: 4px;
    transition: all .3s ease;
}
a.button:hover{
    background-color: var(--darkBlue);
    border: 3px solid var(--darkBlue);

    color: white;
    transform: scale(1.02);
}

div.button-container{
    display: flex;
    align-items: center;
}
div.button-container p{
    margin-right: 20px;
    font-weight: 700;
    color: var(--darkBlue);
    font-size: 20px;
}
a.button-2{
    margin-right: auto;
    border-radius: 50%;
    position: relative;
    color: var(--darkBlue);
    border: 2px solid var(--darkBlue);
    transition: all .5s ease;
    height: 30px;
    width: 30px;   
}

a.button-2:hover{
    color: white;
}
.button-container i.bi{
    font-size: 1.5rem;
    color: var(--darkBlue);
    position: absolute;
    right: 3%;
    top: 0;
    transition: all .5s ease;
}
a.button-2:hover i{
    transform: translateX(15px);
    opacity: 1;
}

@media screen and (max-width: 900px) {
    div.button-container p {
        font-size:  17px;
    }
}


section.contact{
    background-color: white;
    flex-direction: column;
    align-items: center;
    min-height: 20vh;
    padding: 75px;
    position: relative;
}
section.contact .contact-text{
    width: 100%;
    display: flex;
    justify-content: center;
}
section.contact p>a{
    color: var(--darkBlue);
    font-weight: 600;
}

section.contact .button{
    margin-top: 0;
    margin-right: 0;
    margin-left: 40px;
}

@media screen and (max-width: 900px) {
    section.contact{
        padding: 40px;
    }
    section.contact .contact-text{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    section.contact .button{
        margin-left: 0;
        margin-top: 10px;
    }
}

/***********FOOTER************/
footer{
    display: flex;
    padding: 75px;
    min-height: 20vh;
    background-color: var(--darkBlue);
    align-items: flex-start;
    justify-content: center;
}
footer img{
    width: 150px;
}
footer ul{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 70px!important;
    border-left: 1px solid white ;
}
footer nav li{
    padding-bottom: 20px;
}
footer nav li:hover a{
    text-decoration: underline;
}
footer a{
    color: white;
}
@media screen and (max-width:900px) {
    footer{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    footer ul{
        margin: 40px 0 0 0!important;
        /* margin-left: 0!important; */
       
        padding-left: 0;
        padding-top: 30px;
        border-left: none;
        border-top: 1px solid white ;

    }
}
/**************ABOUT US*******************/

.about-us-page section{   
    background-color: var(--lightBlue);
}
.section-header{
    height: 180px;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-us-page .section-header{
    background-image: url(../img/engranaxes2.jpg);
}
h1{
    color: white;
    font-size: 40px;
}
.about-us-content{
    display: flex;
    justify-content: space-between;
    padding: 80px 200px 70px 200px;
}
.about-us-content p{
    width: 45%;
    margin: 0;
}
.vertical-line{
    background-color: var(--darkBlue);
    height: 350px;
    width: 1px;
}
@media screen and (max-width:900px) {
    .about-us-content{
        flex-direction: column;
        padding: 60px 40px;
    }
    .about-us-content p{
        width: 100%;
    }
    .vertical-line{
        display: none;
    }
}
/****INVESTMENT FOCUS*****/
.investment-page .section-header{
    background-image: url(../img/us2.png);
    background-position-y: 50%;
    background-size: 100%;
}
.investment-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.investment-intro{
    width: 70%;
    padding: 50px 200px 10px 200px;
}
.investment-intro p:nth-child(2){
    font-weight: 400;
    color: var(--darkBlue);
}
.investment-criteria{
    margin-bottom: 50px;
    width: 70%;
    padding: 0 200px;
}
.investment-criteria ul{   
    padding: 0;
}
.investment-criteria li{
    font-weight: 400;
    font-size: 15px;
    height: 50px;
    color: var(--darkBlue);
    position: relative;
}
.investment-criteria .bi{
    color: var(--orange);
    font-size: 1.1rem;
    position: absolute;
    top:0%;
    left: -40px;
}
@media screen and (max-width:1200px){
    .investment-intro{
        padding: 60px 40px 10px 40px;
    }
    .investment-criteria{
        padding: 0 40px;
    }
}
@media screen and (max-width:900px){
    .investment-intro{
        width: 90%;
        padding: 60px 40px 10px 40px;
    }
    .investment-criteria{
        width: 90%;
        padding: 0 40px;
    }
}
@media screen and (max-width:500px){
    .investment-intro{
        width: 90%;
        padding: 60px 20px 10px 20px;
    }
    .investment-criteria{
        width: 90%;
        padding: 0 20px;
    }
    .investment-criteria .bi{
        left: -30px;
    }
}
.investment-contact{
    background-image: url(../img/laptop.png);
    background-position-y: 65%;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.investment-contact .button-container{
    margin-left: 40px;
    height: 200px;
}
.investment-contact p{
    color: white;
}
.investment-contact .button-container p{
    color: white;
}
.investment-contact .button-2{
    border:2px solid white;

}
.investment-contact .button-2 i{
    color: white;
}

@media screen and (max-width:900px) {
    .investment-contact{
        flex-direction: column;
        padding: 20px;
        text-align: center;

    }
    .investment-contact .button-container{
        margin-left: 0;
        height: 50px;
    }
}

/**********MANAGEMENT TEAM***********/
.team-page h1{
    color: var(--darkBlue);
}
.team-page .section-header{
    background-image: url(../img/team3.png);
    background-position-y: 6%;
    background-size: 107%;
    background-position-x: 99%;
}
.team-content{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.team-intro{
    margin-top: 50px;
    color: var(--darkBlue);
    font-weight: 400;
    text-align: center;
}
.managers{
    display: flex;
    flex-direction: column;
    padding: 70px;
    flex-wrap: wrap;
    position: relative;
}
.manager{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.manager-text{
    width: 680px;
}
.manager img{
    width: 170px;
    margin-right: 30px;
}

.manager-name{
    font-size: 20px;
    font-weight: 800;
    color: var(--darkBlue);
    margin-bottom: 0;
    margin-top: 0;
}
.manager-position{
    font-weight: 400;
    margin-top: 5px;
    color: var(--darkBlue);
}
.manager-info{
    left: 0;
    margin-bottom: 0;
}
@media screen and (max-width:900px) {
    .manager{
        flex-direction: column;
        margin-bottom: 80px;
        row-gap: 20px;
    }
    .manager img{
        margin: auto;
    }
    .manager-name,
    .manager-position{
        text-align: center;
    }
    .manager-name{
        font-size:24px ;
    }
    .manager-position{
        font-size: 20px;
    }
    .manager-text{
        width: 80vw;
        margin: auto;
    }
}


/******CONTACT*******/

.contact-page .section-header{
    background-image: url(../img/engranaxes3azul2.png);
    background-position-y: 47%;
}

.contact-content{
    display: flex;
    padding: 70px;
    justify-content: center;
    column-gap: 40px;
    flex-wrap: wrap;
}
form ul{
    margin-top: 0;
    padding: 0;
}
form li{
    width: 400px;
}
input,
textarea{
    width: 100%;
    font-weight: 300;
    padding: 12px;
    margin-bottom: 12px;
    background-color: #e0e6eb;
    border-radius: 4px;
    border-style: none;
}
input[type="submit"]{
    background-color: white;
    font-weight: 700;
    font-size: 18px;
    color: var(--darkBlue);
    padding: 18px;
    border: 2px solid var(--darkBlue);
    transition: all .5s ease;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: var(--darkBlue);
    color: white;
}
@media screen and (max-width:900px) {
    form li{
        width: 80vw;
    }
}

.map iframe{
    width: 300px;
    height: 445px;
}

.contact-info>p{
    font-size: 20px;
    font-weight: 800;
    color: var(--darkBlue);
    margin-top: 0;

}
.numbers a{
    display: block;
    margin-bottom: 15px;
    font-size: 17px;
}
.numbers i{
    margin-right: 10px;
}

.address{
    margin-bottom: 30px;
}
.address p{
    margin: 0;
    padding: 0;
    font-weight: 400;
    color: var(--darkBlue);
    font-size: 17px;
}
@media screen and (max-width: 1238px){
    .contact-content{
        row-gap: 40px;
    }
    .contact-info{
        order: -1;
        flex-basis: 100%;
    }
    .map{
        order: 1;
    }
    .map iframe{
        width: 400px;

    }
    .contact-info p,
    .contact-info a{
        text-align: center;
    }
}

@media screen and (max-width:900px){
   .map iframe{
    width: 80vw;
   }
}


