:root{
    --orange: #ff8455;
    --darkBlue: #1c2e3a;
    --lightBlue:  #c0d6e8;
    --aqua: #31526699 ;
    --iconColorLight : #8093a2;
    --lightBrown: #e8dec0;
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
/* #1859ff */
/* rgba(0, 255, 255, 0.568) */

/* PRODUCTION NOTES */
.light-banner{
    background-color: rgb(240, 239, 233);
    padding: 50px;
    width: 100%;
    font-size: 18px;
}
.production-note img{
    display: none;
}
.production-note span{
    text-decoration: underline;
    position: relative;
}
.production-note img{
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
    z-index: 99;
}
.production-note span:hover img{
    display: block;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    }
a{
    text-decoration: none;
    color: var(--darkBlue);
}
ul{
    list-style-type: none;  
}
body{
    font-family: Montserrat;
    font-weight: 400;
    overflow-x: hidden;
    position: relative;
}
h1{
    text-align: center;
}

h2{
    margin-top: 0;
    color: var(--darkBlue);
    font-size: 35px;
}
p{
    font-weight: 300;
    line-height: 1.5;
}

header{
    display: flex;
    align-items: center;
    position: relative;
    height: 90px;
}
.logo-container img{
    margin-left: 70px;
    width: 150px;
    position: absolute;
    top: 20px;
    z-index: 99;
}
@media screen and (max-width: 670px) {
    .logo-container img{
        width: 120px;
        margin-left: 20px;
    } 
}
.desktop-nav{
    margin-right: 120px;
    margin-left: auto;
    /* overflow: hidden; */
}
.lazy{
    opacity: 0;
    transition: opacity 2s ease;
}
.hidden-footer{
    visibility: hidden;
}

@keyframes slideInAnimation {
    from{margin-left: -20px}
    to{margin-left:0};
}
@keyframes spreadAnimation {
    from{gap: 0px}
    to{gap:100px}
}
nav ul{
    display: flex;
}
li.menu-item{
    padding: 20px;
    position: relative;
}
nav a{
    text-decoration: none;
    font-family: Montserrat;
    font-weight: 300;
    color: var(--darkBlue);
    /* transition: border-bottom .5s ease; */
}

.nav-underline{
    width: 100%;
    height: 12px;
    position: absolute;
    bottom: -30px;
    left: 0;
    background-color: var(--darkBlue);
    transition: transform .5s ease;
}

nav li:hover .nav-underline{
    transform: translateY(-13px);  
}


ul.sub-menu{
    position: absolute;
    left: 0;
    top: 60px;
    z-index: 999;
    width: 100%;
    padding-left: 0;
    flex-direction: column;
    height: 0;
    overflow: hidden;
    transition: height .5s ease;
}
li.sub-menu-item{
    background-color: white;
    padding: 20px;     
}
li.sub-menu-item:hover a{
    font-weight: 400;
}
.menu-item:hover ul.sub-menu{
    height: 25rem; 
}
.menu-chevron{
    margin-left: 10px;
    margin-bottom: -2px;
    transition: transform .5s ease;
    cursor: pointer;

}
.menu-item:hover .menu-chevron{
    transform: rotate(180deg);
}



.hamburguer-nav{
    display: none;   
}
.hamburguer-icon{
    font-size: 40px;
    color: var(--darkBlue);
    transition: transform .5s ease;
    cursor: pointer;
}
.hamburguer-icon:hover{
    transform: scale(1.1);
}

.language-selector{
    margin-right: 35px;
    position: relative;
    cursor: pointer;
}

.language-selector ul{
    position: absolute;
    top: -20px;
    left: -70px;
    z-index: 9;
    margin: 0;
    border: 2px solid #ffcebb;
    border-radius: 3px;
    padding: 0;
    height: 42px;
    transition: height .5s ease;
    overflow: hidden;
}

.language-selector li{
    background-color: white;
    padding: 10px;
    width: 68px;
    height: 39px;
    font-weight: 300;
}
.language-selector img{
    margin-left: 3px;
    transform: translateY(2px);
    transition: transform .5s ease;
}

.language-selector ul:hover{
    height: calc(39px * 3);
}

.language-selector:hover img{
    transform: rotate(180deg);
}
@media screen and (max-width: 1200px) {
    .desktop-nav{
        display: none;
    }
    .hamburguer-nav{
        display: block;
        margin-right: 20px;
        position: absolute;
        top: 25px;
        right: 10px;
        overflow: visible;
        z-index: 999;
    }

    .hamburguer-nav ul{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        position: absolute;
        right: -800px;
        top: -30px;
        padding: 100px 0px;
        transition: right 1s ease;
        z-index: 999;
        height: 100vh;
    }
    .hamburguer-nav ul.show-menu{
        right: -30px;
        top: -30px;
        transition: right 1s ease;  
    }
    

    .hamburguer-nav li{
        text-align: center;
        transition: transform .5s ease;
        border-bottom: 1px solid var(--lightBlue);
        width: 60%;
        padding:  30px 20px ;
    }
    .hamburguer-nav li:hover{
        transform: scale(1.1);
    }
    .hamburguer-nav .bi-x-lg{
        position: absolute;
        top: 30px;
        left: 30px;
        font-size: 30px;
        color: var(--darkBlue);
    }
    @media screen and (max-width:1200px) {
        .hamburguer-nav ul{
            width: 50vw;
        }
    }
    @media screen and (max-width: 511px) {
        .hamburguer-nav ul{
            width: 80vw;
        }
    }
    .language-selector {
        position: absolute;
        top: 45px;
        right: 120px;
    }
    .language-selector ul{
        left: 0;
    }
}

/************HERO*******************/
.hero__bars{
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    overflow: hidden;
    margin-left: auto;
}
.hero__bar{
    width: .5px;
    border-radius: 5px;
    background-color: var(--lightBlue);
    transition : transform .5s ease;
}
@media screen and (max-width:900px) {
    .hero__bars{
        width: 180%;
        margin-left: -170px;
    }   
}
/* ata aqui proba */
.hero-container{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    background-color: var(--darkBlue);
}

.bars-container .bar{
    background-color: #1c2e3a;
}
#icono-hero{
    width: 380px;
    position: absolute;
    top: 17%;
    right: 18%;
    opacity: 0;
    z-index: 1;
    animation: animacionIconoHero 2s ease;
    animation-fill-mode: forwards;
    /* transform: scaleX(-1); */
}
@keyframes animacionIconoHero{
    from{opacity: 0;width: 380px;}
    to{opacity: 1; width: 400px;}
}

@media screen and (max-width: 1200px){
    @keyframes animacionIconoHero{
        from{opacity: 0;width: 300px;}
        to{opacity: 1; width: 350px;}
    }
    
}
@media screen and (max-width:900px) {
    #icono-hero{
        display: none;
    }
}
.bars-wrapper{
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    overflow: hidden;
    margin-left: auto;
}
.bar{
    width: .5px;
    border-radius: 5px;
    background-color: var(--lightBlue); 
    opacity: 1;
}
@media screen and (max-width:900px) {
    .bars-wrapper{
        width: 180%;
        margin-left: -170px;
    }
    
}
.hero-text-container{
    height: 100%;
    width:50%;
    position: absolute;
    left: 70px;
    top: 0;
    padding: 75px;
    display: flex;
    align-items: center;
    margin: auto;
}
.hero-text-wrapper{
    margin-top: -20px;
}
.hero-text-wrapper p{
    width: 500px;
    font-family: Montserrat;
    font-size: 23px;
    font-weight: 800;
    line-height: 1.5;
    margin:0;
    margin-left: -60px;
    color: white;
    opacity: 0;
    animation: textAnimation 2s ease;
    animation-fill-mode: forwards;
    animation-delay: .5s;
}
.hero-text-wrapper p:nth-child(4){
    color: var(--orange);
    font-weight: 800;
    margin-left: 0px;
    width: 400px;
}
@keyframes textAnimation {
    from{opacity: 0; margin-left: -60px;}
    to{opacity:1; margin-left: 0;}
}
.hero-underline{
    height: 10px;
    width: 0%;
    background-color: var(--orange) ;
    margin-top: 10px;
    margin-left: -60px;
    animation: underlineAnimation 2s ease;
    animation-delay: .5s;
    animation-fill-mode: forwards;
}
@keyframes underlineAnimation{
    from{margin-left: -60px; width: 0%;}
    to{margin-left: 0; width: 95%;}
}
@media screen and (max-width:900px) {
    .hero-text-container{
        width: 100%;
        padding-left: 75px;
        display: flex;
        justify-content: center;
    }
    .hero-text-container p,
    .hero-text-wrapper p:nth-child(4){
        width: 80vw;   
    }
    .hero-text-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


/***********MAIN***********/
main{
    position: relative;
}

.home-page section:not(.contact){
    display: flex;
    justify-content: space-between;
    height: 400px;
    overflow: hidden;
}
.home-page .section-text{
    padding: 75px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about-us-img{
    background: url(../img/cubeta.png);
}
/* carrusel */
.container{
    height: 100%;
}
.owl-carousel{
    position: relative;
    height: 100%;
}
.owl-stage-outer,
.owl-stage,
.owl-item,
.owl-item img{
    height: 100%;
}
.owl-item img{
    object-fit: cover;
}
.owl-nav{
    position:absolute;
    width: 100%;
    height: 100%;
    margin-top: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.owl-nav .owl-prev ,
.owl-nav .owl-next{
    /* height: 40px; */
    width: 40px;
}
.owl-nav .owl-prev:hover ,
.owl-nav .owl-next:hover{
    cursor:pointer;
}
.owl-prev span , .owl-next span{
    font-size: 50px;
    color: rgba(255, 255, 255);
}
.owl-theme .owl-nav [class*="owl-"]:hover{
    background: rgba(255, 255, 255, 0.699);
}
.owl-theme .owl-nav [class*='owl-']:hover{
    background: rgba(29, 27, 25, 0.322);
}
.num-img{
    height: 50px;
    width: 50px;
    background-color: red;
}

.home-page .section-img{
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 50%;
}
section.investment-focus .section-text{
    order: 1;
}

@media screen and (max-width: 900px) {
    .home-page section{
        flex-direction: column;
        max-height: unset;
    }
    .home-page .section-text{
        width: 100%;
        padding: 50px;
    }
    .home-page .section-img{
        width: 100%;
        height: 300px;
    }
    section.investment-focus .section-text{
        order: 0;
    }
    
}
div.transparencia{
    height: 100%;
    width: 100%;
    background-color: var(--darkBlue);
    opacity: .4;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

a.button{
    margin-right: auto;
    margin-top: 20px;
    padding: 20px 30px;
    color: var(--darkBlue);
    border: 3px solid var(--darkBlue);
    border-radius: 4px;
    transition: all .3s ease;
}
a.button:hover{
    background-color: var(--darkBlue);
    border: 3px solid var(--darkBlue);

    color: white;
    transform: scale(1.02);
}

div.button-container{
    display: flex;
    align-items: center;
}
div.button-container p{
    margin-right: 20px;
    font-weight: 700;
    color: var(--darkBlue);
    font-size: 20px;
}
a.button-2{
    margin-right: auto;
    border-radius: 50%;
    position: relative;
    color: var(--darkBlue);
    border: 2px solid var(--darkBlue);
    transition: all .5s ease;
    height: 30px;
    width: 30px;   
}

a.button-2:hover{
    color: white;
}
.button-container i.bi{
    font-size: 1.5rem;
    color: var(--darkBlue);
    position: absolute;
    right: 3%;
    top: 0;
    transition: all .5s ease;
}
a.button-2:hover i{
    transform: translateX(15px);
    opacity: 1;
}

@media screen and (max-width: 900px) {
    div.button-container p {
        font-size:  17px;
    }
}


section.contact,
section.jobs{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px 0 50px 0  ;
}
section.contact{
    padding: 50px 0;
}
.team-iteration .jobs{
    padding: 50px 0 35px 0;
    gap: 20px;
}
section.contact .contact-text,
section.jobs .jobs-text{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-iteration .jobs-text {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}
.team-iteration .jobs-text span{
    font-weight: 600;
    font-size: 20px;
    color: var(--darkBlue);
    margin-left: -100px;
}
section.contact p>a,
section.jobs p >a{
    color: var(--darkBlue);
    font-weight: 600;
}

section.contact .button,
section.jobs .button{
    margin-top: 0;
    margin-right: 0;
    margin-left: 40px;
}
.team-iteration .jobs .button{
    margin-left: 0;
}
@media screen and (max-width: 900px) {
    section.contact,
    section.jobs{
        padding: 40px;
    }
    section.contact .contact-text,
    section.jobs .jobs-text{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    section.contact .button,
    section.jobs .button{
        margin-left: 0;
        margin-top: 10px;
    }
}

/***********FOOTER************/
footer{
    display: flex;
    padding: 75px;
    min-height: 20vh;
    background-color: var(--darkBlue);
    align-items: flex-start;
    justify-content: center;
}
footer img{
    width: 150px;
}
footer ul{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 70px!important;
    border-left: 1px solid white ;
}
footer nav li{
    padding-bottom: 20px;
}
footer nav li:hover a{
    text-decoration: underline;
}
footer a{
    color: white;
}
@media screen and (max-width:900px) {
    footer{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    footer ul{
        margin: 40px 0 0 0!important;
        /* margin-left: 0!important; */
       
        padding-left: 0;
        padding-top: 30px;
        border-left: none;
        border-top: 1px solid white ;

    }
}
/**************ABOUT US*******************/

.about-us-page section{   
    background-color: var(--lightBlue);
}
.section-header{
    height: 180px;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-us-page .section-header{
    background-image: url(../img/engranaxes2.png);
    background-position: 0 -100px;
}
.about-us-1 .section-header{
    background-image: url(../img/banner-about.jpg);
    background-position: 0 -100px;
}
.about-us-2 .section-header{
    background-image: url(../img/banner-train.jpg);
    background-position: 0 -550px;
}
.about-us-3 .section-header{
    background-image: url(../img/banner-train.jpg);
    /* background-position: 0 -530px; */
    background-position: 0 -480px;
}
.about-us-iteration section{
    background-color: white;
}
.about-us-4 .about-underline{
    background-color: var(--lightBrown);
}
h1{
    color: white;
    font-size: 40px;
}
.about-us-content{
    display: flex;
    justify-content: space-between;
    padding: 80px 200px 70px 200px;
}
.about-us-content p{
    width: 45%;
    margin: 0;
}
.vertical-line{
    background-color: var(--darkBlue);
    height: 350px;
    width: 1px;
}

.about-us-iteration .about-us-content{
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

@media screen and (max-width:900px) {
    .about-us-content{
        flex-direction: column;
        padding: 60px 40px;
    }
    .about-us-content p{
        width: 100%;
    }
    .vertical-line{
        display: none;
    }
}
.txt-icon{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
.txt-icon img{
    width: 150px;
}
.about-us-3 .txt-icon {
    padding-bottom: 50px;
    margin-bottom: 0;
}

.about-us-3 .txt-icon .txt{
    max-width: 360px;
}
.about-us-4 .txt-icon:first-of-type{
    margin-top: 102px;
}
.about-us-3 .txt-icon p{
    width: 100%;
    padding-bottom: 10px;
}
.about-us-2 .txt-icon img{
    width: 180px;
}
#ICC{
    font-size: 22px;
}

.about-us-3 strong{
    font-weight: 700;
    font-size: 20px;
    color: var(--darkBlue);
}
.about-us-4 .txt strong{
    font-family: 'EB Garamond', serif;
    font-size: 40px;
    font-weight: 600;
    display: inline-block;
    position: absolute;
    margin-top: -120px;
}
.about-us-3 span{
    font-weight: 600;
    color: var(--darkBlue);

}
.about-underline{
    height: 10px;
    width: 0%;
    background-color: var(--lightBlue) ;
    margin-top: 10px;
    margin-left: -60px;

}
@keyframes aboutUnderlineAnimation{
    from{margin-left: -60px; width: 0%;}
    to{margin-left: 0; width: 100%;}
}
/****INVESTMENT FOCUS*****/
.investment-page .section-header{
    background-image: url(../img/us2.png);
    background-position-y: 50%;
    background-size: 100%;
}
.investment-1 .section-header{
    background-image: url(../img/banner-investment2.jpg);
    background-position-y: 20%;
}
.investment-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.investment-intro{
    width: 70%;
    padding: 50px 200px 10px 200px;
}
.investment-intro p:nth-child(2){
    font-weight: 400;
    color: var(--darkBlue);
}
.investment-criteria{
    margin-bottom: 50px;
    width: 70%;
    padding: 0 200px;
}
.investment-criteria ul{   
    padding: 0;
}
.investment-criteria li{
    font-weight: 400;
    font-size: 15px;
    height: 50px;
    color: var(--darkBlue);
    position: relative;
}
.investment-criteria .bi{
    color: var(--orange);
    font-size: 1.1rem;
    position: absolute;
    top:0%;
    left: -40px;
}
.investment-iteration .investment-criteria .bi{
    color: var(--lightBrown);
}
@media screen and (max-width:1200px){
    .investment-intro{
        padding: 60px 40px 10px 40px;
    }
    .investment-criteria{
        padding: 0 40px;
    }
}
@media screen and (max-width:900px){
    .investment-intro{
        width: 90%;
        padding: 60px 40px 10px 40px;
    }
    .investment-criteria{
        width: 90%;
        padding: 0 40px;
    }
}
@media screen and (max-width:500px){
    .investment-intro{
        width: 90%;
        padding: 60px 20px 10px 20px;
    }
    .investment-criteria{
        width: 90%;
        padding: 0 20px;
    }
    .investment-criteria .bi{
        left: -30px;
    }
}
.investment-contact{
    background-image: url(../img/laptop2.png);
    background-position-y: 65%;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.investment-1 .investment-contact{
    background-image: url(../img/laptop11.jpg);
}

/* .overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 255, 0.196);
    z-index: 0;
} */
.investment-contact .button-container{
    margin-left: 40px;
    height: 200px;
}
.investment-contact p{
    color: white;
}
.investment-contact .button-container p{
    color: white;
}
.investment-contact .button-2{
    border:2px solid white;

}
.investment-contact .button-2 i{
    color: white;
}

@media screen and (max-width:900px) {
    .investment-contact{
        flex-direction: column;
        padding: 20px;
        text-align: center;

    }
    .investment-contact .button-container{
        margin-left: 0;
        height: 50px;
    }
}

/**********MANAGEMENT TEAM***********/
.team-page h1{
    color: var(--darkBlue);
}
.team-page .section-header{
    background-image: url(../img/team3.png);
    background-position-y: 6%;
    background-size: 107%;
    background-position-x: 99%;
}
.team-content{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.team-intro{
    color: var(--darkBlue);
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    padding: 60px 0 30px 0;
}
.team-iteration .team-intro{
    max-width: 570px;
    padding: 50px 0 0 0 ;
    font-size: 24px;
}
.managers{
    display: flex;
    flex-direction: column;
    padding: 70px;
    flex-wrap: wrap;
    position: relative;
}

.manager{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.manager:not(:last-of-type){
    margin-bottom: 100px;
    margin-left: -30px;
}
.manager-text{
    width: 680px;
}
.team-1-main .manager-text{
    width: 570px;
}
.manager img,
.dummy-img{
    width: 170px;
    margin-right: 50px;
    ;
}
.manager .container{
    width: 170px;
    margin-right: 50px;
}
.team-iteration .manager .owl-nav{
    width: 140%;
    margin-left: -30px;
}
.team-iteration .manager .owl-dots{
    margin-bottom: -40px;
    margin-top: 20px;
}
.team-iteration .manager .owl-prev span,
.team-iteration .manager .owl-next span{
    color: rgb(219, 218, 217);
}
.dummy-img{
    background-color: rgb(240, 239, 233)    ;
    height: 210px;
}

.manager-name{
    font-size: 20px;
    font-weight: 800;
    color: var(--darkBlue);
    margin-bottom: 0;
    margin-top: 0;
}
.manager-position{
    font-weight: 400;
    margin-top: 5px;
    color: var(--darkBlue);
}
.manager-info{
    left: 0;
    margin-bottom: 0;
}
@media screen and (max-width:900px) {
    .managers{
        padding-bottom: 0;
    }
    .manager{
        flex-direction: column;
        margin-bottom: 80px;
        row-gap: 20px;
    }
    .manager img{
        margin: auto;
    }
    .manager-name,
    .manager-position{
        text-align: center;
    }
    .manager-name{
        font-size:24px ;
    }
    .manager-position{
        font-size: 20px;
    }
    .manager-text{
        width: 80vw;
        margin: auto;
    }
}
.team-1-main .section-header,
#team-2-main .section-header,
#team-3-main .section-header,
#team-4-main .section-header,
#team-5-main .section-header{
    background-image: url(../img/fondo-team-2.jpg);
}
.team-1-main h1,
#team-2-main h1,
#team-3-main h1,
#team-4-main h1,
#team-5-main h1{
    color: white;
}

#team-2-main .manager,
#team-3-main .manager{
    background-color: #e7ecee;
    padding: 70px;
}
#team-4-main .manager img{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    object-fit: cover;
    object-position: 40% 0 ;
    border: 3px solid var(--darkBlue);
}
#team-2-main .manager-text{
    width: 560px;
}
#team-2-main .manager-name{
    font-size: 25px;
}
#team-2-main .manager-position{
    font-size: 18px;
}
#team-3-main .managers{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    padding: 70px 120px;
}
#team-3-main .manager{
    min-width: 300px;
    width: calc(50% - 25px);
    margin-bottom: 0;
}
#team-4-main .manager-info{
    margin-top: 25px;
}
#team-5-main .manager img{
    border: 3px solid var(--darkBlue);
    width: 0;
}
#team-5-main .manager-name,
#team-5-main .manager-position{


}

/******CONTACT*******/

.contact-page .section-header{
    background-image: url(../img/engranaxes3azul2.png);
    background-position-y: 47%;
}

.contact-content{
    display: flex;
    padding: 70px;
    justify-content: center;
    column-gap: 40px;
    flex-wrap: wrap;
}
form ul{
    margin-top: 0;
    padding: 0;
}
form li{
    width: 400px;
}
input,
textarea{
    width: 100%;
    font-weight: 300;
    padding: 12px;
    margin-bottom: 12px;
    background-color: #e0e6eb;
    border-radius: 4px;
    border-style: none;
    transition: transform .5s ease;
}
input:focus,
textarea:focus{
    outline: none;
    transform: scale(1.02);
}
input[type="submit"]{
    background-color: white;
    font-weight: 700;
    font-size: 18px;
    color: var(--darkBlue);
    padding: 18px;
    border: 2px solid var(--darkBlue);
    transition: all .5s ease;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: var(--darkBlue);
    color: white;
    transform: scale(1.02);
}
#recaptcha {
    width: 100%;
    margin-bottom: 10px;
}
@media screen and (max-width:900px) {
    form li{
        width: 80vw;
    }
}

.map iframe{
    width: 300px;
    height: 545px;
}

.contact-info>p{
    font-size: 20px;
    font-weight: 800;
    color: var(--darkBlue);
    margin-top: 0;

}
.numbers a{
    display: block;
    margin-bottom: 15px;
    font-size: 17px;
}
.numbers i{
    margin-right: 10px;
}

.address{
    margin-bottom: 30px;
}
.address p{
    margin: 0;
    padding: 0;
    font-weight: 400;
    color: var(--darkBlue);
    font-size: 17px;
}
@media screen and (max-width: 1238px){
    .contact-content{
        row-gap: 40px;
    }
    .contact-info{
        order: -1;
        flex-basis: 100%;
    }
    .map{
        order: 1;
    }
    .map iframe{
        width: 400px;

    }
    .contact-info p,
    .contact-info a{
        text-align: center;
    }
}

@media screen and (max-width:900px){
   .map iframe{
    width: 80vw;
   }
}


